@font-face {
  font-family: "iconfont"; /* Project id 2208059 */
  src: url("iconfont.woff2?t=1634092870259") format("woff2"),
    url("iconfont.woff?t=1634092870259") format("woff"),
    url("iconfont.ttf?t=1634092870259") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.team-iconzuixinlianzai::before {
  content: "\e6da";
}

.team-iconxinpin::before {
  content: "\e614";
}

.team-iconxinpinrenqiwang::before {
  content: "\e615";
}

.team-iconinternationality::before {
  content: "\e67a";
}

.team-iconshanchu::before {
  content: "\e617";
}

.team-iconshow-main-container::before {
  content: "\e878";
}

.team-iconhidden-main-container::before {
  content: "\e881";
}

.team-iconexit-fullscreen::before {
  content: "\e62a";
}

.team-iconfullscreen::before {
  content: "\e62b";
}
