// 明青

$subMenuActiveText: #409eff;
$menuBg: #032121;
$menuHover: #59bfc1;
$subMenuBg: #fff;
$subMenuHover: #59bfc1;
$navTextColor: #7a80b4;
$menuText: #7a80b4;
$sidebarLogo: #153334;
$menuTitleHover: #fff;
