// 粉红

$subMenuActiveText: #409eff;
$menuBg: #28081a;
$menuHover: #d84493;
$subMenuBg: #fff;
$subMenuHover: #d84493;
$navTextColor: #7a80b4;
$menuText: #7a80b4;
$sidebarLogo: #391228;
$menuTitleHover: #fff;
