// 酱紫

$subMenuActiveText: #409eff;
$menuBg: #130824;
$menuHover: #693ac9;
$subMenuBg: #fff;
$subMenuHover: #693ac9;
$navTextColor: #7a80b4;
$menuText: #7a80b4;
$sidebarLogo: #1c0f35;
$menuTitleHover: #fff;
