.animated-edge-label[data-v-efeea646]{position:absolute;z-index:100}.truck[data-v-efeea646]{display:inline-block;position:relative;transform:scaleX(-1)}.box[data-v-efeea646]{position:absolute;top:-10px}
