.wrapper[data-v-509ff4cf]{background-color:rgba(90,167,164,.2);border:3px dashed rgba(90,167,164,.9);border-radius:8px;justify-content:center;align-items:center;width:300px;height:200px;display:flex}
