// single element-plus reset

.el-dropdown-menu__item {
  &:hover {
    background: #f0f0f0;
    color: #606266;
  }
}
.el-dropdown-menu {
  padding: 0;
}
.el-dropdown-menu__item {
  padding: 0 10px;
}
