@import "element-plus/theme-chalk/src/dark/css-vars.scss";

/* 暗黑模式适配 */
html.dark {
  /* 自定义深色背景颜色 */
  // --el-bg-color: #020409;
  $border-style: #303030;
  $color-white: #fff;

  .sidebar-container,
  .sidebar-logo-container,
  .navbar,
  .tags-view,
  .contextmenu {
    background: var(--el-bg-color) !important;
  }

  .app-main {
    background: #020409 !important;
  }

  .frame,
  .logic-flow-view,
  .wangeditor {
    filter: invert(0.9) hue-rotate(180deg);
  }

  .ant-tabs {
    background: var(--el-bg-color);
    color: $color-white;
  }

  /* 标签页 */
  .tags-view {
    .arrow-left,
    .arrow-right {
      box-shadow: none;
    }

    .arrow-right {
      border-left: 1px solid $border-style;
    }

    .arrow-left,
    .arrow-right,
    .right-button li {
      border-right: 1px solid $border-style;
    }
  }

  /* @pureadmin/components */
  .ant-tabs > .ant-tabs-nav:before {
    border-bottom: 1px solid $border-style;
  }

  /* 项目配置面板 */
  .right-panel-items {
    .el-divider__text {
      --el-bg-color: var(--el-bg-color);
    }
    .el-divider--horizontal {
      border-top: none;
    }
  }

  /* 表单设计器 */
  .design-form {
    .el-main.config-content,
    .el-header,
    .el-main.widget-empty,
    .widget-form-list,
    .el-aside,
    .widget-view {
      background: var(--el-bg-color) !important;
    }

    .form-edit-widget-label a {
      background: var(--el-color-primary);
      border: none;
      border-radius: 5px;
      color: $color-white;
    }

    .el-aside {
      color: $color-white;
    }
  }

  /* element-plus */
  .el-table__cell {
    background: var(--el-bg-color);
  }
  .el-card {
    --el-card-bg-color: var(--el-bg-color);
  }
}
