@mixin merge-style(
  // 菜单选中后字体样式
  $subMenuActiveText,
  //菜单背景
  $menuBg,
  // 鼠标覆盖菜单时的背景
  $menuHover,
  // 子菜单背景
  $subMenuBg,
  // 鼠标覆盖子菜单时的背景
  $subMenuHover
) {
  $menuText: #7a80b4;
  $menuActiveText: #7a80b4;
  $sideBarWidth: 210px;

  .main-container {
    min-height: 100%;
    transition: margin-left 0.28s;
    margin-left: $sideBarWidth;
    position: relative;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: $menuBg;
    height: 100%;
    position: fixed;
    font-size: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    box-shadow: 0 0 1px #888;

    // reset element-plus css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out,
        0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .el-menu {
      border: none;
      height: 100%;
      background-color: transparent;
      // background-color: $menuBg !important;
      // width: 100% !important;
    }

    .el-menu-item,
    .el-sub-menu__title {
      color: $menuText;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-sub-menu__title {
      background: $menuBg;

      &:hover {
        background-color: $menuHover !important;
      }
    }

    .is-active > .el-sub-menu__title,
    .is-active.submenu-title-noDropdown {
      color: $subMenuActiveText !important;

      i {
        color: $subMenuActiveText !important;
      }
    }

    .is-active {
      transition: color 0.3s;
      color: $subMenuActiveText !important;
    }

    & .nest-menu .el-sub-menu > .el-sub-menu__title,
    & .el-sub-menu .el-menu-item {
      font-size: 12px;
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;

      &:hover {
        background-color: $subMenuHover !important;
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }

    .main-container {
      margin-left: 54px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;
      }
    }

    .el-sub-menu {
      overflow: hidden;

      & > .el-sub-menu__title {
        .el-sub-menu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      margin-left: -5px; //需优化的地方
      .el-sub-menu {
        & > .el-sub-menu__title {
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  // 菜单折叠
  .el-menu--vertical {
    .el-menu--popup {
      background-color: $subMenuBg !important;

      .el-menu-item {
        color: $menuText;
        background-color: $subMenuBg;

        &:hover {
          background-color: $subMenuHover;
        }
      }

      .el-sub-menu__title {
        color: $menuText;
      }
    }

    & > .el-menu {
      i {
        margin-right: 16px;
      }
    }

    .is-active > .el-sub-menu__title,
    .is-active.submenu-title-noDropdown {
      color: $subMenuActiveText !important;

      i {
        color: $subMenuActiveText !important;
      }
    }

    .is-active {
      transition: color 0.3s;
      color: $subMenuActiveText !important;
    }

    .nest-menu .el-sub-menu > .el-sub-menu__title,
    .el-menu-item {
      &:hover {
        // you can use $subMenuHover
        background-color: $menuHover !important;
      }
    }
  }

  .el-scrollbar__wrap {
    overflow: auto;
    height: 100%;
  }

  .el-menu--collapse .el-menu .el-sub-menu {
    min-width: $sideBarWidth !important;
  }

  // 手机端
  .mobile {
    .main-container {
      margin-left: 0;
    }

    .sidebar-container {
      transition: transform 0.28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// 暗色主题
body[data-theme="dark"] {
  $subMenuActiveText: #f4f4f5;
  $menuBg: #1b2a47;
  $menuHover: #2a395b;
  $subMenuBg: #1f2d3d;
  $subMenuHover: #001528;

  @include merge-style(
    $subMenuActiveText,
    $menuBg,
    $menuHover,
    $subMenuBg,
    $subMenuHover
  );
}

// 亮色主题
body[data-theme="light"] {
  $subMenuActiveText: #409eff;
  $menuBg: #fff;
  $menuHover: #e0ebf6;
  $subMenuBg: #fff;
  $subMenuHover: #e0ebf6;

  @include merge-style(
    $subMenuActiveText,
    $menuBg,
    $menuHover,
    $subMenuBg,
    $subMenuHover
  );
}
